<p id="notice"><%= notice %></p>

<p>
  <strong>Stripe:</strong>
  <%= @subscription.stripe_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @subscription.plan %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
