<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
					<div class="panel-title">
						<h3 class="text-center"><%= @subscription.user.full_name.titleize %></h3>
					</div>
        </div>
        <div class="panel-body">
          <p>
            <strong>Subscription Id:</strong>
            <%= @subscription.stripe_id %>
          </p>
          <p>
            <strong>Email:</strong>
            <%= @subscription.user.email %>
          </p>
          <p>
            <strong>Plan:</strong>
            <%= @subscription.plan.name.titleize %>
          </p>
          <p>
            <strong>Price:</strong>
            <%= @subscription.plan.price_interval.titleize %>
          </p>
					<p>
						<strong>Subscribed:</strong>
						<%= @subscription.created_at.strftime("%m/%d/%Y") %>
					</p>
        </div>
        <div class="panel-footer">
          <%= link_to 'Back', subscriptions_path %>
        </div>
      </div>
    </div>
  </div>
</div>
