<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3 class="text-center"><%= params_header %></h3>
          </div>
        </div>
        <div class="panel-body">
          <%= form_for @card, html: { class: 'form-group'} do |f| %>
            <% if card.errors.any? %>
              <div id="error_explanation">
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <% card.errors.full_messages.each do |message| %>
                    <p><%= message %></p>
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :card_name, 'Full Name' %>
              <%= f.text_field :card_name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :card_last_four, 'Last Four' %>
              <%= f.number_field :card_last_four, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :card_exp_month, 'Exp Month' %>
              <%= f.text_field :card_exp_month, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :card_exp_year, 'Exp Year' %>
              <%= f.number_field :card_exp_year, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.check_box :default_card, class: 'form-check' %>
              <%= f.label :default_card, 'Default Card ?' %>
            </div>

            <div class="form-group">
              <%= f.submit class: 'btn btn-default btn-lg btn-block' %>
            </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to 'Back', cards_path %></br>
          <% if params[:action] === 'edit' %>
            <%= link_to 'Show', @card %></br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
