<p id="notice"><%= notice %></p>

<p>
  <strong>Stripe:</strong>
  <%= @sale.stripe_id %>
</p>

<p>
  <strong>Add foreign key:</strong>
  <%= @sale.add_foreign_key %>
</p>

<p>
  <strong>:</strong>
  <%= @sale. %>
</p>

<p>
  <strong>:</strong>
  <%= @sale. %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
