<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Stripe Payments', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'New', new_product_path %></li>
              <li><%= link_to 'All', products_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plans <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'New', new_plan_path %></li>
              <li><%= link_to 'All', plans_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sales <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'All', sales_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subscriptions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'All', subscriptions_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'User Settings', edit_user_registration_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Cards', cards_path %></li>
              <li><%= link_to 'Purchases', show_purchases_path %></li>
              <li><%= link_to 'Subscriptions', show_subscriptions_path %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
